.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin-left: 20px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.button-container {
  display: flex;
  justify-content: center;
}
.leaflet-control-attribution{
  opacity: 0;
}
.leaflet-container{
  position: absolute;
}
.map-area{
  width: 100vw;
  height: 60vh;
}
