/* Ajustes generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Contenedor principal */
.chat-container {
  display: flex;
  height: 94vh; /* Ajusta la altura al 100% de la ventana */
  max-width: 1400px;
  margin: auto;
  border-left: 1px solid #4b4b4b;
}

/* Lista de chats */
.chat-list {
  flex: 0 0 250px; /* Ancho fijo de 250px */
  border-right: 2px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.chat-list h2 {
  font-size: 18px;
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.chat-list li {
  padding: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.chat-list li:hover {
  background-color: #444444;
}

/* Sección del chat seleccionado */
.selected-chat {
  flex: 1;
  /* padding: 10px; */
  /* border-right: 2px solid #ccc; */
  /* border-radius: 0 10px 10px 0; */
}

.selected-chat h3 {
  font-size: 20px;
  margin: auto;
  /* padding-bottom: 10px; */
  border-bottom: 1px solid #4b4b4b;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mensajes */
.chat-messages {
  height: 80vh;
  overflow-y: auto; /* Añadido para permitir desplazamiento vertical si hay muchos mensajes */
  display: flex;
  flex-direction: column-reverse;
}

.chat-messages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-messages li {
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 8px;
}

/* Mensajes propios */
.chat-messages .own-message {
  background-color: #005c4b;
  color: #fff;
  margin-left: auto; /* Empuja los mensajes propios al final del contenedor */
  margin-right: 10px;
  text-align: right;
  max-width: 80%;
  min-width: 10%;
  width: fit-content;
}

/* Mensajes de otros usuarios */
.chat-messages .other-message {
  background-color: #363b3d;
  color: #fff;
  display: flex; /* Alinea los elementos en una fila */
  align-items: center; /* Alinea los elementos en la parte superior del contenedor */
  max-width: 80%;
  min-width: 10%;
  width: fit-content;
  padding: 7px;
  margin-left: 10px;
}

/* Contenedor del círculo con la inicial del usuario */
.chat-messages .other-message .user-circle {
  position: relative; /* Establece la posición relativa para que los elementos hijos puedan posicionarse con respecto a este */
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-color: #007667; /* Puedes ajustar el color del círculo según tus preferencias */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-right: 10px;
}

/* Estilo del texto que se mostrará en hover */
.chat-messages .other-message .user-circle:hover::after {
  content: attr(data-username); /* Utiliza el atributo "data-username" para mostrar el nombre */
  position: absolute;
  top: -30px; /* Ajusta la posición del texto según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  opacity: 0.8;
  z-index: 1; /* Asegura que el texto esté por encima del círculo */
  white-space: nowrap; /* Evita que el texto se desborde a una nueva línea */
  display: none; /* Inicialmente oculta el texto */
}

/* Muestra el texto en hover */
.chat-messages .other-message .user-circle:hover::after {
  display: block;
}
/* Nueva entrada de mensaje */
.new-message {
  display: flex;
  align-items: right;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.new-message input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.new-message button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.new-message button:hover {
  background-color: #45a049;
}


/* Contenedor del mensaje y la hora */
.chat-messages .message-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hora del mensaje */
.chat-messages .message-time {
  font-size: 12px;
  color: #a6abad; /* Puedes ajustar el color según tus preferencias */
  padding-left: 10px;
  bottom: 5px;
  margin-bottom: -22px;
  margin-right: -3px;
}

.new-chat {
  /* padding: 8px 16px; */
  border: none;
  border-radius: 20px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 0.85;
}
.chats-navbar{
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #4b4b4b;
  height: 60px;
}
.selected-chat-mobile{
    width: 100%;
}
.nav-bar-chat{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #4b4b4b;
}
.nav-bar-chat h3 {
  width: 200px;
  height: 30px;
}

.back-button{
  border: none;
  border-radius: 20px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 0.85;
}

.chat-messages::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: #444;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
}