.roulette {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  overflow: hidden;
  position: relative;
  transition: transform 3.1s ease-out; /* Ajusta la duración de la animación según tus necesidades */
}

.roulette img {
  width: 280px;
  height: 280px;
}

.spinning {
  transform: rotate(720deg); /* Ajusta la cantidad de rotación según tus necesidades */
}