/* PokemonSearch.css */
input {
  max-width: 800px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid transparent;
  transition: background-color 0.2s, border-bottom 0.2s;
  text-transform: capitalize;
}

li:hover {
  background-color: #f0f0f0;
}

li.selected {
  border-bottom: 1px solid #000;
}

li.close-list {
  font-weight: bold;
  color: red;
}
