.name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.details-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.pokemon-details-mobile {
  display: flex;
  flex-direction: column;
}
.pokemon-characteristics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: #36A9E1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  width: 300px;
}

.characteristic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.characteristic .label {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.characteristic .value {
  font-size: 16px;
  margin: 5px 0 0 0;
  text-transform: capitalize;
}
.characteristic .value-gender {
  font-size: 32px;
  margin: -10px 0 0 0;
}

.pokemon-thumbnail {
  height: 50px;
  margin-left: 10px;
}

.pokemon-invert {
  transform: scaleX(-1);
}

.pokemon-image {
  max-width: 100%;
  height: auto;
  display: block;
  border: 5px solid #ccc;
  border-radius: 50%;
  margin-bottom: 15px;
}
.pokemon-image-mobile {
  max-width: 100%;
  height: auto;
  display: block;
  /* border: 5px solid #ccc; */
  /* border-radius: 50%; */
  margin-bottom: 15px;
}
.pokemon-name {
  font-size: xxx-large;
  text-transform: capitalize;
  margin: 0;
}
.pokemon-name-mobile {
  font-size: xx-large;
  text-transform: capitalize;
  margin: 0;
}
.play-icon {
  display: inline-block;
  margin:  0 10px 0 5px;
  cursor: pointer;
  font-size: 24px;
}

.play-icon:hover {
  color: #007bff;
}


.stats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.stat-bar {
  display: flex;
  align-items: center;
  background-color: #dddddd;
  border-radius: 10px;
  overflow: hidden;
  height: 25px;
}

.stat-label {
  width: 119px;
  padding-left: 10px;
  font-weight: bold;
  text-transform: capitalize;
  color: #444444;
  font-size: 14px;
}

.stat-bar-inner {
  background-color: #36A9E1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  transition: width 0.5s ease;
  min-width: 20px;
}

.stat-value {
  color: #444444;
}
.stat-title{
  margin: 20px 0 0 0;
  font-weight: bold;
}



.evolution-container {
  margin-top: 20px;
}

.evolution-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.evolution-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.evolution-list-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.evolution-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.evolution-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
}

.evolution-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.evolution-info-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 150px;
}
.evolution-name {
  font-weight: bold;
  margin-bottom: 0px;
}

.evolution-types {
  display: flex;
  margin-top: 5px;
}

.evolution-arrow {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Estilo base para el borde */
.type-label {
  font-size: 12px;
  padding: 0px 5px;
  margin-top: -5px;
  margin-right: 5px;
  border-radius: 13px;
  color: #ffffff;
  border: 2px solid grey;
  font-weight: bold;
}

/* Definición de colores para cada tipo */
.type-label.normal {
  background-color: #A8A77A;
  border-color: #A8A77A;
}

.type-label.fire {
  background-color: #EE8130;
  border-color: #EE8130;
}

.type-label.water {
  background-color: #6390F0;
  border-color: #6390F0;
}

.type-label.electric {
  background-color: #F7D02C;
  border-color: #F7D02C;
}

.type-label.grass {
  background-color: #7AC74C;
  border-color: #7AC74C;
}

.type-label.ice {
  background-color: #96D9D6;
  border-color: #96D9D6;
  color: #000000;
}

.type-label.fighting {
  background-color: #C22E28;
  border-color: #C22E28;
}

.type-label.poison {
  background-color: #A33EA1;
  border-color: #A33EA1;
}

.type-label.ground {
  background-color: #E2BF65;
  border-color: #E2BF65;
}

.type-label.flying {
  background-color: #A98FF3;
  border-color: #A98FF3;
}

.type-label.psychic {
  background-color: #F95587;
  border-color: #F95587;
}

.type-label.bug {
  background-color: #A6B91A;
  border-color: #A6B91A;
}

.type-label.rock {
  background-color: #B6A136;
  border-color: #B6A136;
}

.type-label.ghost {
  background-color: #735797;
  border-color: #735797;
}

.type-label.dragon {
  background-color: #6F35FC;
  border-color: #6F35FC;
}

.type-label.dark {
  background-color: #705746;
  border-color: #705746;
}

.type-label.steel {
  background-color: #B7B7CE;
  border-color: #B7B7CE;
}

.type-label.fairy {
  background-color: #D685AD;
  border-color: #D685AD;
}

